
.wrapper-class {
  border-left: 3px double #673AB7;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:60px;
  margin-bottom: 60px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3); /* Add a shadow */
  background-color: #f9f9f9; /* Add a light background color */
  padding: 20px;
}

.heading-class {
  text-align: center;
  color: #673AB7;
  padding-bottom: 10px;
}
.heading-class-2 {
  text-align: center;
  color: #673AB7;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

form span {
  min-height: 40px;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

form input {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top:10px;
  width: 300px;
}

/* input[type="file"] {
  margin-bottom: 10px;
} */
/* Hide the default file input button */
input[type="file"] {
  display: none;
}

/* Style the custom button */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0074D9;
  color: #fff;
  border-radius: 4px;
}

/* Change the button text color when hovering over it */
.custom-file-upload:hover {
  color: #fff;
  background-color: #0063ae;
}

button[type="button"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

button[type="button"]:hover {
  background-color: #3e8e41;
}

button[type="button"]:disabled {
  cursor: not-allowed;
  background-color: grey;
}

/* Style the message text */
#message {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #673AB7;
}
#response {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  justify-content: center;
  color: #f00
}
#response img {
  max-width: 150px;
  max-height: 150px;
  margin:10px;
}

#microphone-icon {
  padding: 10px;
  width: 12px;
  margin-top: 10px;
  color: #673AB7;
}
#microphone-icon:hover {
  cursor: pointer;
}
#search-bar {}